[main]
ignore-paths=.*/migrations

disable=
    too-few-public-methods,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-locals,
    too-many-instance-attributes,
    too-many-return-statements,
    too-many-public-methods,
    too-many-branches,
    too-many-statements,
    duplicate-code,
    fixme,
    arguments-renamed,
    abstract-method,
    too-many-lines,
    cyclic-import,
    protected-access,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring

score=no

load-plugins=pylint_django
django-settings-module=insalan.settings
