on:
  pull_request:
    type: [opened]
  push:
    paths:
      - '.github/workflows/ci.yaml'
      - '.github/workflows/init_db.sql'
      - 'insalan/**'
      - 'requirements.txt'
      - 'requirements-dev.txt'
      - '*.sh'
      - 'locale/**'
      - 'Dockerfile*'
jobs:
  linting:
    env:
      PYLINT_MINSCORE: 8.0
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      # Install Python 3.12
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # Set the environment up
      - run: python3 -m venv env
      - run: source env/bin/activate

      # Install dependencies
      - name: Install dependencies
        run: pip3 install -r requirements.txt
      - name: Install pylint and pylint-django
        run: pip3 install -r requirements-dev.txt

      # Run lints
      - name: Run linter evaluation
        run: pylint ./insalan

  mypy:
    if: always()
    needs: [linting]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      # Install Python 3.12
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # Set the environment up
      - run: python3 -m venv env
      - run: source env/bin/activate

      # Install dependencies
      - name: Install dependencies
        run: pip3 install -r requirements.txt
      - name: Install development dependencies
        run: pip3 install -r requirements-dev.txt

      # Run mypy
      - name: Run mypy
        run: mypy

  unit-tests:
    if: always()
    needs: [mypy]
    runs-on: ubuntu-22.04
    env:
      DB_NAME: insalan
      DB_USER: insalan
      DB_PASS: insalan
      DB_HOST: "127.0.0.1"
      DB_PORT: 5432
    services:
      postgresql:
        image: postgres
        env:
          POSTGRES_PASSWORD: ${{ env.DB_PASS }}
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_DB: ${{ env.DB_NAME }}
        ports:
          - "5432:5432"
        options: --health-cmd pg_isready --health-interval 1s --health-timeout 5s --health-retries 10
    steps:
      - uses: actions/checkout@v3

      # Install Python 3.12
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # Set the environment up
      - run: python3 -m venv env
      - run: source env/bin/activate

      # Install dependencies
      - run: pip3 install -r requirements.txt
      - run: pip3 install -r requirements-dev.txt

      # Initialize the database
      - run: psql postgresql://${{ env.DB_USER }}:${{ env.DB_PASS }}@${{ env.DB_HOST }}:${{ env.DB_PORT }}/${{ env.DB_NAME }} -f .github/workflows/init_db.sql

      # Prepare database
      - run: python3 manage.py makemigrations
      - run: python3 manage.py migrate

      - run: python3 manage.py test --parallel auto
